* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(252, 252, 252);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 20px;
}

a {
  text-decoration: none;
  color: #000;
}

/* estilização das fontes */

h1 {
  font-size: 49px;
  text-align: center;
}

h2,
h3 {
  text-align: center;
  font-style: oblique;
}

h4,
h5,
p {
  text-align: center;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
}

.pencil {
  position: relative;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 30px;
  background: #fdefb2;
  border-top: 10px solid #faf5b5;
  border-bottom: 10px #f0cffd;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
}

@media (max-width: 565px) {
  .pencil {
    width: 290px;
  }
}

.pencil:before {
  content: "";
  position: absolute;
  left: -80px;
  top: -10px;
  border-style: solid;
  border-color: transparent #ddc0ad transparent transparent;
  border-width: 18px 40px 12px;
}

.pencil:after {
  content: "";
  position: absolute;
  left: -80px;
  top: -10px;
  border-style: solid;
  border-color: transparent #0f0e0e transparent transparent;
  border-width: 19px 41px 15px;
  transform: scale(0.3);
}

.top {
  position: absolute;
  top: -10px;
  right: -20px;
  height: 5px;
  width: 20px;
  background: #ccc;
  border-top: 10px solid #dedede;
  border-bottom: 20px solid #b9bfbf;
  z-index: 3;
}

.top:before {
  content: "";
  position: absolute;
  top: -10px;
  right: -20px;
  width: 150%;
  height: 100%;
  background: #d76f6e;
  border-top: 20px solid #da8e8d;
  border-bottom: 10px solid #c85957;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.navbar {
  font-size: 13px;
}

/* Estilos do botão do nav */
.sobreDiv {
  cursor: pointer;
  color: rgba(209, 171, 3, 0.795);
}

.sobreDiv:hover {
  color: rgba(112, 92, 2, 0.795);
}

/* Estilos do modal do prompt de alerta */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
}

.modal-content,
.modal-content.user2 {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #b7a2c0;
  max-width: 500px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  padding: 10px;
}

.text p {
  text-align: left;
  padding-top: 10px;
}

.close-button {
  float: right;
  cursor: pointer;
}

.acervo {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  margin-top: 60px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  padding: 20px;
  height: 300px;
  gap: 20px;
}

#user1,
#user2 {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

#user1 {
  border: 2px solid rgb(199, 230, 230);
  background-color: rgb(199, 230, 230);
}

#user2 {
  border: 2px solid rgb(229, 243, 191);
  background-color: rgb(229, 243, 191);
}

.modal-content.user2 {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #ccce4d;
  max-width: 500px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:hover {
  background-color: #00b3aa;
}

form {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  padding-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #000000;
  background-color: transparent;
}

input[type="submit"] {
  background-color: transparent;
  color: #000000;
  border: 0 solid #cccccc00;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #00b3aa;
}

.login {
  font-family: fantasy;
  font-size: 1.3em;
  width: 100px;
  height: 50px;
  border-radius: 0.5em;
  padding: 10px;
  margin: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 2px solid rgb(208, 230, 199);
  background-color: rgb(63, 161, 161);
}

.dev {
  position: relative;
  margin-top: 9vh;
  margin-bottom: 0;
}

.dev a {
  color: #00a08c;
}

.dev a:hover {
  color: rgb(212, 103, 216);
}
