h1 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: oblique;
}

h5 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
  background-color: #faf9a6;
  border-radius: 2%;
  border-style: dotted;
  border-width: 2px;
}

body {
  background-color: rgb(252, 252, 252);
  padding: 10%
}

.texto {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: (2, 1fr);
}

.introcontainer {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  border: 1px dashed rgb(106, 170, 179);
  padding: 10px;
  margin: 10px;
  border-radius: 1%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: aliceblue;
}

.container {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  border: 1px dashed rgb(106, 170, 179);
  padding: 10px;
  margin: 10px;
  border-radius: 1%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: aliceblue;
}

.box {
  border: 2px solid rgb(21, 169, 189);
  background-color: rgb(175, 222, 228);
  border-radius: .5em;
  padding: 10px;
  display: inline-block;
}

.eixo {
  border: 2px solid rgb(17, 134, 138);
  background-color: rgb(224, 236, 238);
  border-radius: .5em;
  padding: 10px;
  margin: 3px;
  display: inline-block;
}

.item {
  border: 2px solid rgb(175, 169, 90);
  background-color: rgb(252, 234, 177);
  border-radius: .5em;
  padding: 10px;
  margin: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90%;
  font-weight: 300;
  font-style: italic;
  display: inline-block;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
  transition: transform 0.6s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
}

.item:hover {
  border: 2px solid black;
  transform: scale(1.1);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.selected {
  opacity: .3;
}

.con {
  background-color: rgb(250, 215, 236);
  border-radius: .5em;
  padding: 10px;
  margin: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90%;
  font-weight: 300;
  font-style: italic;
}

.btn {
  border: 0;
  border-radius: 100%;
  background: #fab255;
  color: white;
  font-family: sans-serif;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
}

#a {
  border: 0;
  border-radius: 100%;
  background: #000000;
  color: white;
  font-family: sans-serif;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
}

.btnbox {
	display: block;
	margin: auto;
	text-align: center;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	transition: 0.5s max-width ease;
	background-color: #00a08c;
	max-width: 100%;
	border-radius: 0px 0px 7px 7px ;

}

.btnbox:hover {
	color: #000;
	max-width: 100%;
}

.redacao {
  border: 3px dashed rgb(34, 7, 7);
  background: rgb(248, 253, 255);
  display: grid;
  padding: 3%;
  height: auto;
  min-width: 460px;
}

.redacao:hover {
  cursor: pointer;
}

#introc,
#problemc,
#tesec,
#argc,
#top1c,
#refc,
#argtc,
#top2c,
#ref2c,
#argt2c,
#top3c,
#intc,
#legc,
#silc,
#insc,
#famc,
#basc,
#desc,
#prec,
#consc,
#invc,
#repc,
#midc,
#tecc,
#impc,
#fecc,
#amore,
#emore,
#pmore,
#smore,
#tmore {
  display: none;
}