:root {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header, footer {
    text-align: center;
}

main {
    display: flex;

    align-items: center;
    justify-content: center;
}